option_settings:
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
    ProxyServerPorts: '80'
    ProxyEgressPort: 8000  # Replace with your app's egress port
    ApplicationPorts: '8000'  # Replace with your app's application port
    Timeout: '3000'  # Set the timeout value in seconds
